
.jurnal-item__header {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
   
}

.jurnal-item__date {
    color: rgba(255, 255, 255, 0.40);
    /* font-family:  "Source Sans Pro"; */
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.jurnal-item__text {
    color: rgba(255, 255, 255, 0.60);
    /* font-family:  "Source Sans Pro"; */
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    overflow: hidden;

}

.jurnal-item__body {
    display: flex;
    gap: 10px;
}